.display{
  text-align: center;
 
}


.button{

  background-color:rgb(235, 225, 223);
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  text-shadow: 1px 1px;

}

#display{
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;

  /* font-family: "Times New Roman", Times, serif; */
  
  /* font-family: Tahoma, Verdana, sans-serif; */
}