.display{
  text-align: center;
 
}


.button{

  background-color:rgb(235, 225, 223);
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  text-shadow: 1px 1px;

}

.reset-button{

  background-color:rgb(235, 225, 223);
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  text-shadow: 1px 1px;





}




#display{
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;

  /* font-family: "Times New Roman", Times, serif; */
  
  /* font-family: Tahoma, Verdana, sans-serif; */
}


/* Media Queries for Responsive Design */


@media screen and (max-width: 600px) {
  .display {
    margin-top: 15vh;
  }

  p {
    font-size: 1rem;
  }

  .button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}